// customize color
$primary:    #eb2f06   ;
$secondary:   #1e3799;
$success:    #78e08f ;
$info:       #e58e26 ;
$warning:     #ffffff;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';